.u-section-1 {
  background-image: none;
  min-height: 655px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 655px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 68px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 219px 12px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 61px 57px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 59px auto 0;
  padding: 13px 30px 14px;
}

.u-section-1 .u-shape-1 {
  height: 608px;
  margin-top: -495px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 655px;
  pointer-events: auto;
  background-image: url("images/Pinpoint-Dark-Suit.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 608px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 519px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 200px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 418px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 779px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 413px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 530px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/fd-min.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 531px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 90px;
  margin-bottom: 26px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 416px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 20px 20px;
}

.u-section-2 .u-group-1 {
  width: 383px;
  min-height: 409px;
  margin: 0 auto -50px 57px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 150px;
  width: 150px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.7;
  font-style: italic;
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 25px 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 416px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 47px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 343px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-group-1 {
    width: 332px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 320px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 3878px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 79px 118px 0;
}

.u-section-3 .u-text-2 {
  width: 744px;
  margin: 28px auto 0;
}

.u-section-3 .u-shape-1 {
  height: 573px;
  margin-top: 209px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 865px;
  margin: -767px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 110px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 534px;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 455px;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-6 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 394px;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 43px 273px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-8 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 387px;
}

.u-section-3 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-10 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 110px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-11 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 42px calc(((100% - 1140px) / 2) + 23px) 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-text-12 {
  margin: 43px calc(((100% - 1140px) / 2) + 23px) 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-shape-2 {
  width: 260px;
  height: 185px;
  margin: -443px 0 0 auto;
}

.u-section-3 .u-line-1 {
  width: 912px;
  height: 13px;
  animation-duration: 1000ms;
  transform-origin: center top 0px;
  margin: 326px auto 0;
}

.u-section-3 .u-text-13 {
  font-size: 1.875rem;
  margin: 85px 92px 0;
}

.u-section-3 .u-text-14 {
  font-size: 1.25rem;
  margin: -15px 92px 0;
}

.u-section-3 .u-line-2 {
  width: 912px;
  height: 13px;
  animation-duration: 1000ms;
  transform-origin: center top 0px;
  margin: 123px auto 0 calc(((100% - 1140px) / 2) + 102px);
}

.u-section-3 .u-text-15 {
  font-size: 1.875rem;
  margin: 111px -466px 0;
}

.u-section-3 .u-text-16 {
  font-size: 1.25rem;
  margin: 20px 97px 0;
}

.u-section-3 .u-text-17 {
  margin: 12px 92px 0;
}

.u-section-3 .u-line-3 {
  width: 912px;
  height: 13px;
  animation-duration: 1000ms;
  transform-origin: center top 0px;
  margin: 111px auto 0 calc(((100% - 1140px) / 2) + 102px);
}

.u-section-3 .u-text-18 {
  font-size: 1.875rem;
  margin: 85px -1583px 0;
}

.u-section-3 .u-text-19 {
  font-size: 1.25rem;
  margin: -43px 92px 55px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 4010px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 429px;
  }

  .u-section-3 .u-text-11 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-12 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-2 {
    margin-left: calc(((100% - 940px) / 2) + 28px);
  }

  .u-section-3 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-3 {
    margin-left: calc(((100% - 940px) / 2) + 28px);
  }

  .u-section-3 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 3163px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 216px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 92px;
  }

  .u-section-3 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-12 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }

  .u-section-3 .u-line-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-line-3 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 3363px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 138px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 408px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 138px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-11 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-12 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-line-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-line-3 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 87px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 251px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 87px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-12 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-text-13 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-line-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-15 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-line-3 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-18 {
    font-size: 1.5rem;
  }
}.u-section-4 {
  background-image: url("images/039ea0c88571998261aac591814a3b2049a10d5713904cb2cfcc0f1793cdc5017f9ebc8800a9796f8abb624e565c53488aeedd7dac92670d480212_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 397px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 10px auto 0 0;
}

.u-section-4 .u-text-1 {
  line-height: 2;
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px 416px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  background-image: none;
  margin: -277px 79px 60px 734px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 216px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 613px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 393px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-top: -334px;
    margin-left: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-icon-1 {
    margin-top: 132px;
    margin-right: 276px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    font-size: 1.875rem;
  }
}