.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('images/ksnip_20210926-183722.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1380px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 850px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 870px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 282px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 100px 95px 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px 377px 0 auto;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 64px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -64px auto 60px 346px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-icon-2 {
    margin-right: 311px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-icon-2 {
    margin-right: 238px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-icon-2 {
    margin-right: 179px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-icon-2 {
    margin-right: 113px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 103px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1007px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 996px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 948px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 840px 0 0;
}

.u-section-3 .u-image-1 {
  width: 1120px;
  height: 528px;
  margin: 30px auto 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 796px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 748px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 640px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 576px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 528px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 420px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 339px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 396px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 348px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 240px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 254px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 196px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 148px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 40px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 160px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1646px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px auto 0 1px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px auto 0 1px;
}

.u-section-4 .u-image-1 {
  width: 1138px;
  height: 387px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 30px auto 0 1px;
}

.u-section-4 .u-text-5 {
  margin-left: 1px;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  margin-left: 1px;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-4 .u-text-7 {
  margin-left: 1px;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-4 .u-text-8 {
  margin-left: 1px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-4 .u-image-2 {
  width: 1138px;
  height: 459px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1499px;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 320px;
  }

  .u-section-4 .u-image-2 {
    width: 940px;
    height: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 245px;
  }

  .u-section-4 .u-image-2 {
    width: 720px;
    height: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1202px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 184px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 218px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 116px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 137px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-5 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1.25rem;
}.u-section-6 .u-sheet-1 {
  min-height: 800px;
}

.u-section-6 .u-group-1 {
  width: 570px;
  min-height: 186px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: patua-one;
  margin: 20px 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 16px auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 560px;
}

.u-section-6 .u-image-1 {
  height: 295px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-2 {
  width: 66px;
  min-height: 66px;
  background-image: none;
  margin: -44px auto 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  width: 52px;
  font-weight: 700;
  font-family: patua-one;
  margin: 5px auto;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: patua-one;
  margin: 30px 20px 0;
}

.u-section-6 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-link-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 9px auto 16px 20px;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 560px;
}

.u-section-6 .u-image-2 {
  height: 295px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-3 {
  width: 66px;
  min-height: 66px;
  background-image: none;
  margin: -44px auto 0 0;
}

.u-section-6 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  width: 52px;
  font-weight: 700;
  font-family: patua-one;
  margin: 5px auto;
}

.u-section-6 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: patua-one;
  margin: 30px 20px 0;
}

.u-section-6 .u-text-7 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-link-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 9px auto 16px 20px;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 560px;
}

.u-section-6 .u-image-3 {
  height: 295px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-4 {
  width: 66px;
  min-height: 66px;
  background-image: none;
  margin: -44px auto 0 0;
}

.u-section-6 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.25rem;
  width: 52px;
  font-weight: 700;
  font-family: patua-one;
  margin: 5px auto;
}

.u-section-6 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: patua-one;
  margin: 30px 20px 0;
}

.u-section-6 .u-text-10 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-link-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 9px auto 16px 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-6 .u-group-1 {
    width: 470px;
    position: relative;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-2 {
    width: 54px;
    position: relative;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    width: 42px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-link-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-6 .u-image-2 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-3 {
    width: 54px;
    position: relative;
  }

  .u-section-6 .u-text-5 {
    position: relative;
    width: 42px;
  }

  .u-section-6 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-link-2 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-6 .u-image-3 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-4 {
    width: 54px;
    position: relative;
  }

  .u-section-6 .u-text-8 {
    position: relative;
    width: 42px;
  }

  .u-section-6 .u-text-9 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-10 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-link-3 {
    position: relative;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 360px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 656px;
  }

  .u-section-6 .u-group-2 {
    width: 82px;
    min-height: 82px;
  }

  .u-section-6 .u-text-2 {
    width: 60px;
    margin-top: 17px;
    margin-bottom: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-link-1 {
    margin-left: 13px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 656px;
  }

  .u-section-6 .u-group-3 {
    width: 82px;
    min-height: 82px;
  }

  .u-section-6 .u-text-5 {
    width: 49px;
    margin-top: 17px;
    margin-bottom: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-link-2 {
    margin-left: 13px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 656px;
  }

  .u-section-6 .u-group-4 {
    width: 82px;
    min-height: 82px;
  }

  .u-section-6 .u-text-8 {
    width: 49px;
    margin-top: 17px;
    margin-bottom: 10px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-link-3 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 338px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-group-2 {
    width: 99px;
    min-height: 99px;
  }

  .u-section-6 .u-text-2 {
    width: 49px;
    margin-top: 26px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-link-1 {
    margin-left: 9px;
  }

  .u-section-6 .u-group-3 {
    width: 99px;
    min-height: 99px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 26px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-link-2 {
    margin-left: 9px;
  }

  .u-section-6 .u-group-4 {
    width: 99px;
    min-height: 99px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 26px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-link-3 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 283px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-6 .u-group-2 {
    width: 82px;
  }

  .u-section-6 .u-text-2 {
    width: 54px;
    margin-top: 18px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-link-1 {
    margin-left: 6px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-6 .u-group-3 {
    width: 82px;
  }

  .u-section-6 .u-text-5 {
    width: 54px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-link-2 {
    margin-left: 6px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 576px;
  }

  .u-section-6 .u-group-4 {
    width: 82px;
  }

  .u-section-6 .u-text-8 {
    width: 54px;
    margin-top: 18px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-link-3 {
    margin-left: 6px;
  }
}