html{
  zoom: 0.8;
  font-family: 'Noto Sans Mono', monospace;
  cursor: auto;
}
body{
  background-image: url('background.jpg');
}
hr{
  border:3px solid black;
  border-radius:30px
}
.typewriter-text {
  overflow: hidden;
  letter-spacing: 4px;
 animation: typing 4.5s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 100px;
  font-weight: 700;
  border-right: 8px solid orange;
  box-sizing: border-box;
}
@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}
@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: orange; 
  }
}
#title{  
  border: 10px solid rgb(41, 197, 181);
  color: rgb(24, 4, 116);
  font-weight: bolder;
  padding: 100px;
  float: left;
  margin: 40px;
  font-size: 90px;
  font-weight: bolder;
  width: fit-content;
  border-radius: 15px;
  background: rgb(255, 251, 237);
  letter-spacing: 0.5px;
}
.container{
  border-radius: 20px;
  display: flex;
  font-size: 24px;
  width: 92%;
  margin: 40px 20px 20px 40px;
  align-content: center;
  background: rgb(212, 180, 151);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}
.circle{
  width: fit-content;
  border: 2px solid black;
  padding: 2px 6px;
  border-radius: 5px;
  margin: 6px;
  font-weight: bolder;
  background: gold;
  display: inline-flex;
}
mark{
  background-color:rgb(226, 3, 88);
  color:#F7F29B;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.image{
  margin: 15px;
  display: flex;
  justify-content: center;
}
.item{
    background: linear-gradient(60deg, #ffbfbd, #ffcfcc, #aefaff, #ffffa3);
    background-size: 800% 800%;
    border-radius: 10px;
    -webkit-animation: animation 6s ease infinite;
    animation: animation 6s ease infinite;
    font-size: 26px;
    font-weight: 500;
}
@-webkit-keyframes animation {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@keyframes animation {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
::-webkit-scrollbar {
    width: 25px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: lightblue;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: skyblue;
}
.effect {
  font-size: 22px;
  background-color:#541388;
  color: #fff;
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  padding: 14px;
  width: 140px;
  border-radius: 6px;
  overflow: hidden;
}
.effect:before {
  content: ">>";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  transform: scale(0, 1);
  transition: all 0.1s linear 0s;
}
.effect:hover {
  text-indent: -9999px;
}
.effect:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}